/* @import "./components/navbar/Navbar.css"; */
::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 80%;
}

body {
  @apply font-Poppins text-base box-border;
}
.link {
  @apply text-sm font-semibold capitalize hover:cursor-pointer;
}
.btn {
  @apply px-3 py-1 flex gap-2 items-center justify-center rounded-lg hover:cursor-pointer;
}
.btn-primary {
  @apply text-white bg-[#625af2];
}
.btn-danger {
  @apply text-red-500 bg-red-100;
}

.mpppp {
  /* margin: 2rem; */
  /* padding: 1rem; */
  border: 1px solid red;
  height: 90vh;
  width: 100%;
}

.tooltip {
  position: absolute;
  bottom: 30px;
  left: 50%;
  background-color: #ffffff;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  boxshadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  zindex: 1000;
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 20%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

/* .marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
// to draw white circle
.marker-pin::after {
  content: "";
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

// to align icon
.custom-div-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
} */

/* .leaflet-div-icon {
  height: 0;
  width: 0;
} */

.marker {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: rgb(98, 90, 242);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: heartbeat 2s infinite;
}

.marker::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 120, 255, 0.3);
  border-radius: 50%;
  animation: pulse 2s infinite;
}
.inner-circle {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
