.navbar {
  @apply bg-[#f8f8fa] top-0 left-0 h-screen w-1/6 flex flex-col justify-between items-start flex-shrink-0 p-4 py-6 border border-r-[#e3e4e7];

  & > .navbar__logo {
    @apply text-xl font-semibold;
  }

  & .menuActive {
    @apply text-[#625af2] bg-[#efeefa]  rounded-md;
  }
  & .menuPending {
    @apply bg-red-500 text-yellow-500;
  }

  & > .navbar__menu {
    @apply w-full flex flex-col gap-4 p-4 font-medium capitalize text-gray-400;

    & > .navbar__menuSection span {
      @apply text-xs;
    }
    & > .navbar__menuSection ul {
      @apply text-gray-500 flex flex-col  mt-1;

      & li {
        @apply bg-green-500;
      }
      & a {
        @apply px-4 p-0.5;
      }
    }
  }
}

.socket__user-marker {
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 30px;
  left: -10px;
  background-color: #fff;
  border: 3px solid #1d4a81;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: heartbeat 2s infinite; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.socket__user-marker::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 8px;
  background-color: #1d4a81;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.socket__user-markerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background-color: #f5f5f5; */
  /* border-radius: 50%; */
}

.socket__user-markerImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.socket__user-marker > .leaflet-popup {
  bottom: 20px;
}
